#jumpotron
{
    background-color:DodgerBlue;
}

.uses
{
    padding-left: 2cm;
    font-size: 30px;
}

.uses #list1,#list2,#list3,#list4
{
    font-size: 20px;
}

.fblogin
{
    font-size:30px;    
}

